.admin {
  padding: 60px 50px 0;
}

.admin__title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 80px;
}

.admin__content {
  display: flex;
  gap: 35px;
}

/* nav */
.admin__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 150px;
  font-weight: 500;
}

.admin__nav a {
  font-size: 18px;
  color: #303030;
}

.admin__nav a:hover,
.admin__nav a.active {
  color: #7156ed;
}

.btn {
  padding: 4px 10px;
  border: none;
  background-color: #ddd;
  border-radius: 3px;
  padding: 4px 10px;
  font-size: 12px;
}

.btn:hover {
  background-color: #919191;
  color: #fff;
}

/* admin__sections */
.admin__sections {
  flex: 1px;
  width: 100%;
}

.admin-section__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.admin-section__title {
  font-size: 20px;
  font-weight: 600;
}

.admin-section__title span {
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}

.admin-section__options {
  display: flex;
  gap: 5px;
  font-size: 12px;
}

.status-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-filter select {
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.admin__section-title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.admin__section-title span {
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.order-table th {
  font-size: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.order-table__th--date {
  width: 100px;
}

.order-table__th--price {
  width: 80px;
}

.order-table__th--edit {
  width: 60px;
}

.order-table__th--status {
  width: 110px;
}

.order-table__row > td {
  padding: 14px 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  line-height: 1.5;
}

.cell-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.product-title {
  display: flex;
  align-items: center;
}

.product-title span {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-title span:hover {
  text-decoration: underline;
}

.order-status {
  outline: none;
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
  .admin {
    padding: 60px 0 0;
  }

  .admin__title {
    margin-bottom: 40px;
  }

  .admin__content {
    flex-direction: column;
  }

  .admin__nav {
    flex-direction: row;
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  .admin__title {
    margin-bottom: 40px;
  }

  .admin__content {
    flex-direction: column;
  }

  .admin__nav {
    flex-direction: row;
    width: auto;
  }
}


@media screen and (max-width: 768px) {
  .order-table__th--user, .order-table__th--info {
    width: 170px;
  }
}
