.products__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 40px;
}

.products__title {
  display: flex;
  align-items: center;
}

.products__title h2 {
  display: flex;
  margin-right: 8px;
  font-size: 55px;
  font-weight: 800;
}

.products__subCategories {
  margin-left: 30px;
  margin-right: auto;
  display: flex;
  gap: 12px;
}

.products__subCategories li {
  font-weight: 400;
  padding: 8px;
  font-size: 12px;
  border: 1px dashed #d1d1d1;
  border-radius: 10px;
  cursor: pointer;
}

.products__subCategories li.active {
  background-color: #000;
  border: 1px solid #000;
  color: white;
}

.products__list {
  padding: 10px 40px 40px;
}

.products__sort {
  text-align: right;
}

.products__sort select {
  padding: 4px;
  border-radius: 5px;
  outline: none;
  margin-right: -40px;
  margin-bottom: 40px;
}

.products__list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem 4rem;
}

.product-item {
  position: relative;
  padding-bottom: 205%;
  overflow: hidden;
}

.product-item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.product-item img {
  height: 66%;
  max-width: 100%;
  border-radius: 4px;
  object-fit: cover;
  transition: filter 0.15s ease-in;
}

.product-item__info {
  text-align: center;
  padding-top: 20px;
  flex-grow: 1;
}

.product-item__category {
  font-size: 14px;
  color: #6236ff;
}

.product-item__title {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 두 줄로 제한 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
  line-height: 1.4;
}

.product-item__price {
  font-weight: 400;
}

.product-item a:hover img {
  filter: brightness(0.8);
}

.product-item a:hover .product-item__title {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .products__list {
    padding: 10px 20px 40px;
  }

  .products__list ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-item {
    padding-bottom: 210%;
  }

  .product-item img {
    height: 65%;
  }

  .products__sort select {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .products__head{
    flex-direction: column;
    padding-bottom: 20px;
    align-items: flex-start;
  }
  
  .products__title {
    margin-bottom: 20px;
  }

  .products__subCategories {
    flex-wrap: wrap;
    margin: 0;
  }

  .products__list ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-item {
    padding-bottom: 200%;
  }

  .product-item img {
    height: 65%;
  }
}

@media screen and (max-width: 600px) {
  .product-item {
    padding-bottom: 210%;
  }
}
