<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="/" class="footer__logo">
        <img src="/img/logo.svg" alt="ItBook Logo" class="logo-default"/>
        <img src="/img/logo-mobile.png" alt="ItBook Logo" class="logo-mobile" />
      </a>
      <ul class="footer__info">
        <li>
          <strong>주소</strong>서울특별시 강남구 선릉로 433 (역삼동, 세방빌딩)
          6층,16층
        </li>
        <li class="footer__contact">
          <span><strong>Tel</strong>010-0000-0000</span>
          <span><strong>E-mail</strong>elice@gmail.com</span>
        </li>
        <li>© 2023 Gwanggaeto. All rights reserved</li>
      </ul>
    </div>
  </div>
</footer>
