<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title><%= pageTitle %></title>
<!-- common style -->
<link rel="stylesheet" href="/css/base/reset.css" />
<link rel="stylesheet" href="/css/base/common.css" />
<link rel="stylesheet" href="/css/base/font.css" />
<!-- favicon -->
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />