<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="/" class="header__logo">
        <img src="/img/logo2.svg" alt="ItBook Logo" />
      </a>
      <nav class="nav-main">
        <ul class="nav-main__list" id="headerMenu">
          <li><a href="/products/all">전체</a></li>
          <% for (const category of categories) { %>
          <li>
            <a href="/products/<%= category.id %>"><%= category.name %></a>
          </li>
          <% }%>
        </ul>
      </nav>
      <nav class="nav-user">
        <ul class="nav-user__list" id="authMenu">
          <li>
            <a href="/cart">
              <i class="fas fa-cart-shopping fa-lg" aria-hidden="true"></i>
              <span id="cartCount"></span>
            </a>
          </li>
          <li><a>로그인</a></li>
          <li><a>회원가입</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
