<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./includes/head.ejs') %>
</head>

<body>
  <main class="main">
    <h1>404 페이지를 찾을 수 없습니다</h1>
    <a href="/">홈으로 이동</a>
  </main>
  <%- include('./includes/footer.ejs') %>
</body>
</html>

