<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/pages/admin.css" />
    <script src="/js/pages/admin.js" type="module" defer></script>
  </head>

  <body>
    <%- include('./includes/header.ejs') %>
    <main class="main">
      <div class="container">
        <div class="admin">
          <h2 class="admin__title">관리자 페이지</h2>
          <div class="admin__content">
            <aside>
              <nav class="admin__nav">
                <a href="/admin/product" class="active">상품 관리</a>
                <a href="/admin/order">주문 관리</a>
                <a href="/admin/category">카테고리 관리</a>
              </nav>
            </aside>
            <div class="admin__sections">
              <section class="product-form">
                <h3 class="admin__section-title">상품 등록</h3>
                <div class="admin__options">
                  <a href="/admin/product">목록 보기</a>
                </div>
                <form id="form" class="admin-form">
                  <ul>
                    <li>
                      <label for="title">상품명</label>
                      <input type="text" id="title" name="title" />
                    </li>
                    <li>
                      <label for="imageUrl">상품 이미지(url)</label>
                      <input type="text" id="imageUrl" name="imageUrl" />
                    </li>

                    <li>
                      <label for="description">설명</label>
                      <input type="text" id="description" name="description" />
                    </li>
                    <li>
                      <label for="price">가격</label>
                      <input
                        type="number"
                        id="price"
                        name="price"
                        class="numberInput"
                      />원
                    </li>
                    <li>
                      <label for="author">저자</label>
                      <input type="text" id="author" name="author" />
                    </li>
                    <li>
                      <label for="pages">페이지</label>
                      <input
                        type="number"
                        id="pages"
                        name="pages"
                        class="numberInput"
                      />쪽
                    </li>
                    <li>
                      <label for="mainCategory">대분류</label>
                      <select name="category" id="mainCategory">
                        <option value="FrontEnd">프론트엔드</option>
                        <option value="BackEnd">백엔드</option>
                        <option value="CS">CS</option>
                      </select>
                    </li>
                    <li>
                      <p>서브 카테고리</p>
                      <div id="subCategory">
                          <!-- JS로 렌더링될 서브 카테고리 체크박스 항목들 -->
                      </div>
                  </li>
                  </ul>
                  <div class="admin-btn">
                    <button type="submit" class="admin-submit">등록하기</button>
                    <button class="admin-list">
                      <a href="/admin">목록</a>
                    </button>
                  </div>
                </form>
              </section>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./includes/scroll-top-btn.ejs') %> <%-
    include('./includes/footer.ejs') %>
  </body>
</html>
