<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/header.ejs') %>
  <main class="main">
    <!-- 메인슬라이드 -->
    <div class="main01">
      <div class="swiper main-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide01"></div>
          <div class="swiper-slide slide02"></div>
          <div class="swiper-slide slide03"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="wrap">
      <div class="main-container">
        <!-- 신상품 -->
        <div class="main04 product">
          <h3>새로 나왔어요</h3>
          <div class="swiper new-swiper">
            <div class="swiper-wrapper" id="newSwiper"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <div class="main04 product title-padding">
          <div class="main-banner">
            <a href="">
              <img src="/img/main_banner.jpg" alt="" />
            </a>
          </div>
          <h3>웹 개발 추천 도서</h3>
          <div class="b-list" id="bookList"></div>
        </div>
      </div>
      <button class="top-btn"></button>
    </div>
  </main>
  <%- include('./includes/scroll-top-btn.ejs') %>
  <%- include('./includes/footer.ejs') %>
</body>
</html>