<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/header.ejs') %>
  <main class="main">
    <h1>상품리스트</h1>
  </main>
  <%- include('./includes/footer.ejs') %>
</body>
</html>